<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Sports Tips</title>
    <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ai_sports.css') }}">
</head>

<body>
    <div class="page_outer">
        <div class="page_inner">
            <section class="header_outer">
                <div class="custom_continer">
                    <div class="nav">
                        <div class="logo"><img src="/static/images/logo-transparent.png" alt="AI Tipsa Logo" style="height: 60px;"></div>
                        <a href="/signup_user" class="cta">Start My 7-Day Challenge</a>
                    </div>
                </div>
            </section>

            <section class="hero_banner">
                <div class="custom_continer bg_style">
                    <div class="hero_content">
                        <h1>Al Sports Predictions That Actually Work</h1>
                        <p class="hero_text">Powered by data. Proven by results. </p>
                        <a href="/signup_user" class="button">Start Winning Today</a>
                    </div>
                    <div class="right_col proof_col">
                        <h4><span>+47%</span> ROI</h4>
                        <p>Last 7 days</p>
                        <p>"Tried so many tipsters... this is the first one that actually delivers!"</p>
                    </div>
                </div>
            </section>

            <div class="section how_it_work">
                <div class="custom_continer two_col_outer">
                    <div class="left_col how_it_work_text">
                        <h3>How It Works</h3>
                        <div class="howitwork_list">
                            <p><span class="text_icons"><img src="/static/images/connection.png" alt="connection icon"></span>
                                <span>Connect</span></p>
                            <p><span class="text_icons"><img src="/static/images/prediction.png" alt="prediction icon"></span>
                                <span>Receive Al Banker Tips</span></p>
                            <p><span class="text_icons"><img src="/static/images/scale-up.png" alt="scale up icon"></span> <span class="highlight">Follow the Plan Scale Up</span></p>
                        </div>

                    </div>
                </div>
            </div>



            <div class="section syst_sec">
                <div class="custom_continer two_col_outer">
                    <div class="left_col">
                        <div class="syst_customize">
                            <p><strong>Subscribe now <span>- €19.99/month</span></strong></p>
                            <p><strong>Built by bettors. Backed by Al.</strong></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="custom_continer">
                      <ul>
                    <li><a href="#">T&Cs</a></li>
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                </div>
              
            </div>

        </div>
    </div>

</body>

</html>